@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600;700&display=swap");

@theme {
  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --breakpoint-2xl: 1600px;
  --breakpoint-xl: 1500px;
  --breakpoint-xl2: 1400px;
  --breakpoint-lg: 1280px;
  --breakpoint-md: 1024px;
  --breakpoint-sm: 888px;
  --breakpoint-2xs: 640px;
  --breakpoint-xs: 400px;
}

body {
  font-family: "Geist", sans-serif;
}

.animation {
  transition: all 0.3s ease-in-out;
}
